<div
  class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch"
  id="kt_body"
>
  <div
    class="kt-content kt-content--fit-top  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor"
    id="kt_content"
  >
    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
      <div class="kt-container ">
        <div class="kt-subheader__main flex-prop">
          <div>
            <div class="kt-subheader__main">
              <h3 class="kt-subheader__title">Questions</h3>
              <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home">
                  <i class="flaticon2-shelter"></i>
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                  Dashboard
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a
                  href="/lands"
                  class="kt-subheader__breadcrumbs-link"
                  routerLink="/add-lands"
                >
                  Questions
                </a>
              </div>
            </div>
          </div>
          <div>
            <span class="add-new-btn" routerLink="/add-question"
              >Add New Question</span
            >
          </div>
        </div>
      </div>
    </div>
    <!-- end:: Subheader -->

    <!-- begin:: Content -->
    <div class="kt-container  kt-grid__item kt-grid__item--fluid">
      <!--Begin::Row-->
      <div class="row">
        <div class="col-xl-12">
          <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile">
            <div
              class="kt-portlet__body kt-portlet__body--fit overflow-auto users-outer-wrapper position-relative"
            >
              <!--begin: Datatable -->

              <table
                datatable
                [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
                class="row-border hover"
              >
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Options</th>
                    <th>Answer</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let question of questions">
                    <td>
                      {{ question.title }}
                    </td>
                    <td> 
                        <tr *ngFor="let item of question.options; let i = index">
                            <td>{{i+1 +"- "+item}}</td>
                        </tr> 
                    </td>
                    <td>
                      {{ question?.answer }}
                    </td>
                    <td class="actions">
                      
                      <span
                        class="edit"
                        routerLink="/add-question"
                        [queryParams]="{ editingQuestionId: question.id }"
                        >Edit</span
                      >
                      <span class="delete" (click)="deleteQuestion(question)"
                        >Delete</span
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
              <!--end: Datatable -->
            </div>
          </div>
        </div>
      </div>
      <!--End::Row-->
    </div>
    <!-- end:: Content -->
  </div>
</div>


