.w-50{width: 46% !important;}
.left{left: 6.12rem !important; }
.padding-left{padding: 0.35rem 0 0 7rem !important;}
.paddingtopbtm{padding: 13px 0;}
.font-13{font-size: 13px !important;}
.user-icon {
    width: 32px;
    border-radius: 50%;
    height: 32px;
  }